*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row{
  width: 80%;
  height: auto;
  margin: 30px auto;
}

body{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
  color: black;

}

/* Product Elements */

.product{
  position: relative;
  display: inline-block;
  width: 33%;
  cursor: pointer;
  margin: 30px 2px;
}

/* Image Elements */

.product img{
  width: 100%;
  height: auto;
}

/* Heart Label top-right */
.product .heart{
  top:30px;
  right: 0px;
  padding: 10px 15px;
  background-color: white;
} 

/* Discount label bottom left */
.product .discount{
  background-color: #ea0036;
}

/* Sustainability label, bottom left next to discount label */
.product .sustainability{
  background-color: #008759;
}
/* Discount,Sustainability labels style */
.product .discount, .product .sustainability{
  color: white;
  bottom: 150px;
  font-size: 15px;
  padding: 10px;
}

/* USO IMPROPRIO? CON % AL RESIZE SALTA ALLINENAMENTO */
.product .secondary-label{
  left: 70px;
}


/* Position of Discount,Sustainability and Heart labels style */
.product .heart, .product .discount, .product .sustainability{
  position: absolute;
}

/* Labels z-index */
.product .heart, .product .discount, .product .sustainability{
  z-index: 40;
}

/* Show Secondary image with mouse hover  */
.product .secondary-image{
  position: absolute;
  left:0;
  top: 0;
  display: none;
  z-index: 30;
}

.product:hover .secondary-image{
  display: block;
}


/* Informations Elements */
.product .product-name{
  text-transform: uppercase;
}

.product .product-brand{
  padding-top: 10px;
}

.product .product-price{
  color: red;
}

.product .product-old-price{
  text-decoration: line-through;
}

/* .product .information-box.product-price, .product .information-box.product-old-price{
  display:inline-block;
} */

.product .product-name, .product .product-price{
  font-weight: bold;
}
