*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row{
  width: 80%;
  margin: 30px auto;
  text-align: center;
  background-color: lightsalmon;
}

.product{
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin-right: 20px;
}


/* Product Elements */

/* Information Box */
.product .information-box{
  padding-top: 10px;
  text-align: left;
  color: black;
  font-size: 12px;
}


/* Information Box Elements */
.product .information-box .product-name{
  text-transform: uppercase;
}

.product .information-box .product-price{
  color: red;
}

.product .information-box .product-old-price{
  text-decoration: line-through;
}

.product .information-box .product-price, .product .information-box .product-old-price{
  display:inline-block;
}

.product .information-box .product-name, .product .information-box .product-price{
  font-weight: bold;
}
