*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row{
  width: 80%;
  height: auto;

  margin: 30px auto;
  text-align: center;
  /* DA ELIMINARE SUCCESSIVAMENTE */
  background-color: lightsalmon;
}

body{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 25px;
}


/* Product Elements */

.product{
  position: relative;
  display: inline-block;
  width: 33%;
  padding: 30px 5px;
}

/* Image Elements */

.image-box{
  position: relative;
  cursor: pointer;
}


/* SI RIMPICCIOLISCE SOLO LA SECONDA IMMAGINE */

/* .image-box .primary-image, .image-box .secondary-image{
  width: auto;
  height: 80%;
} */

.image-box img{
  width: 100%;
  height: auto;
}

/* Heart Label top-right */
.product .image-box .heart{
  top:30px;
  right: 0;
  padding: 10px 15px;
  background-color: white;
} 

/* Discount label bottom left */
.product .image-box .discount{
  background-color: #ea0036;
}

/* Sustainability label, bottom left next to discount label */
.product .image-box .sustainability{
  left: 7%;
  background-color: #008759;
}
/* Discount,Sustainability labels style */
.product .image-box .discount, .product .image-box .sustainability{
  color: white;
  bottom: 20px;
  font-size: 15px;
}
.product .image-box .sustainability, .product .image-box .discount{
  padding: 5px;
  }

/* Position of Discount,Sustainability and Heart labels style */
.product .image-box .heart, .product .image-box .discount, .product .image-box .sustainability{
  position: absolute;
}

/* Labels z-index */
.product .image-box .heart, .product .image-box .discount, .product .image-box .sustainability{
  z-index: 40;
}

/* Show Secondary image with mouse hover  */
.product .image-box .secondary-image{
  position: absolute;
  left:0;
  top: 0;
  display: none;
  z-index: 30;
}

.product .image-box:hover .secondary-image{
  display: block;
}

/* Information Box */
.product .information-box{
  padding-top: 10px;
  text-align: left;
  color: black;
  font-size: 12px;
}

/* Information Box Elements */
.product .information-box .product-name{
  text-transform: uppercase;
}

.product .information-box .product-price{
  color: red;
}

.product .information-box .product-old-price{
  text-decoration: line-through;
}

.product .information-box .product-price, .product .information-box .product-old-price{
  display:inline-block;
}

.product .information-box .product-name, .product .information-box .product-price{
  font-weight: bold;
}
