*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row{
  width: 80%;
  margin: 30px auto;
  text-align: center;
  background-color: lightsalmon;
}



/* Product Elements */

.product{
  position: relative;
  display: inline-block;
  margin-right: 20px;
  height: 80%;
  width: auto;
}

/* Image Elements */

.image-box{
  position: relative;
  cursor: pointer;
}

.product .image-box .heart{
  top:10px;
  right: 0;
  padding: 10px 15px;
  background-color: white;
} 


.product .image-box .discount{
  background-color: #ea0036;
}

.product .image-box .sustainability{
  left: 8%;
  background-color: #008759;
}

.product .image-box .discount, .product .image-box .sustainability{
  color: white;
  bottom: 20px;
}

.product .image-box .heart, .product .image-box .discount, .product .image-box .sustainability{
  position: absolute;
}

.product .image-box .sustainability, .product .image-box .discount{
padding: 5px;
}

/* Information Box */
.product .information-box{
  padding-top: 10px;
  text-align: left;
  color: black;
  font-size: 12px;
}

/* Information Box Elements */
.product .information-box .product-name{
  text-transform: uppercase;
}

.product .information-box .product-price{
  color: red;
}

.product .information-box .product-old-price{
  text-decoration: line-through;
}

.product .information-box .product-price, .product .information-box .product-old-price{
  display:inline-block;
}

.product .information-box .product-name, .product .information-box .product-price{
  font-weight: bold;
}
